
  <div class="alert alert-info">
    <h3>My Profile</h3>
    <div class="col-md-4">
      <%= image_tag current_user.avatar.url, class: 'img-rounded img-responsive', alt: 'Picture' %>
      <h5><%= current_user.username %></h5>
    </div>
    <div class="col-md-8">
      <ul class="q_list">
        <li>No of questions asked<span><%= current_user.questions.count %></span></li>
        <li>No of questions responded<span><%= current_user.answers.count %></span></li>
      </ul>
    </div>
  </div>

  <% if params[:action] == 'show' %>
    <div class="alert alert-info">
      <h3>Tags</h3>
      <ul class="tags">
        <% @question.tags.each do |tag| %>
          <li><a href=""><%= tag.name %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>