<div class="col-md-12" id="about-admin">
  <div class="alert alert-info">
    <h2>About User</h2>

    <div class="col-md-2">
      <i class="fa fa-user"></i>
    </div>
    <div class="col-md-10">
      <ul class="about-list">
        <li><i class="fa fa-plus"></i>Registered : <%= @user.created_at.strftime("%B %d, %Y") %></li>
        <li><i class="fa fa-map-marker"></i>Country : <%= @user.country %></li>
        <li><i class="fa fa-globe"></i>Web : <%= @user.website %></li>
      </ul>
    </div>
    <p><%= @user.summary %></p>

    <div>Follow me
      <a href="#" class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i></a>
      <a href="#" class="btn btn-social btn-twitter">
        <i class="fa fa-twitter"></i></a>
      <a href="#" class="btn btn-social btn-linkedin">
        <i class="fa fa-linkedin"></i></a>
      <a href="#" class="btn btn-social btn-google">
        <i class="fa fa-google-plus"></i></a>
    </div>
  </div>
  <div class="alert alert-info">
    <h2>User Stats</h2>

    <div class="col-md-6">
      <ul class="stats">
        <li><i class="fa fa-question-circle"></i>Question<span>(<%= @user.questions.count %>)</span></li>
        <li><i class="fa fa-eye"></i></i>Best Answer<span>(2)</span></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="stats">
        <li><i class="fa fa-comment"></i>Answer<span>(<%= @user.answers.count %>)</span></li>
      </ul>
    </div>
  </div>
</div>
